# CKAN core
CKAN_SITE_ID=default
CKAN_SITE_URL=CHANGE_ME ##
# CKAN___BEAKER__SESSION__SECRET=CHANGE_ME # currently unused
# See https://docs.ckan.org/en/latest/maintaining/configuration.html#api-token-settings
# Note that in non-docker (see docs), these are set to SECRET_KEY by default
# However, as envvars only gets called as the last plugin, and the docker implementation
# does not use CKAN___SECRET_KEY for the initial setup, the "default" value will be equal 
# to a generated SECRET_KEY, not the one defined here.
CKAN___API_TOKEN__JWT__ENCODE__SECRET=string:CHANGE_ME_TO_CKAN___SECRET_KEY ##
CKAN___API_TOKEN__JWT__DECODE__SECRET=string:CHANGE_ME_TO_CKAN___SECRET_KEY ##
CKAN___SECRET_KEY=CHANGE_ME ##

### Only use in a local testing setup ###
#CKAN_SYSADMIN_NAME=ckan_admin
#CKAN_SYSADMIN_PASSWORD=test1234
#CKAN_SYSADMIN_EMAIL=your_email@example.com

# SMTP settings
CKAN_SMTP_SERVER=CHANGE_ME ##
CKAN_SMTP_USER=CHANGE_ME ##
CKAN_SMTP_PASSWORD=CHANGE_ME ##
CKAN_SMTP_MAIL_FROM=CHANGE_ME ##

# Datapusher
CKAN__DATAPUSHER__API_TOKEN=datapusherapitoken # Currently unused


## RECAPTCHA KEYS
CKAN__RECAPTCHA__PUBLICKEY=CHANGE_ME ##
CKAN__RECAPTCHA__PRIVATEKEY=CHANGE_ME ##

## Mailchimp Settings
CKAN__MAILCHIMP__API_KEY="CHANGE_ME"
CKAN__MAILCHIMP__BASE_URL="CHANGE_ME"
CKAN__MAILCHIMP__MEMBER_LIST_ID="CHANGE_ME"